* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;

}

body {
  background-color: #282c34;
  padding: 40px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

h2 {
  font-size: 48px;
  color: #f3f3f3;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  max-width: 1024px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #4b5362;
  padding: 20px;
  margin: 10px;
  background-color: #31363f;
  border-radius: 10px;
  min-height: 100px;
}

button {
  background-color: #61dafb;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 30px;
  transition: background-color 0.3s;
  text-align: center;
}